<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true" name="/Users/renchao/workspace-idea/autoTest/Chapter5">
        <classes>


            <!--
            <class name="com.course.testng.BasicAnnotation">
              <methods><include name="testCase1"/><include name="testCase2"/></methods>
            </class>

            -->


        </classes>
    </test>
</suite>